.form-content{
    border: 1px solid lightgrey;
    padding: 20px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 5px;
}

.form-title{
    margin-bottom: 10px;
}

.input-name{
    display: flex;
    flex-direction: column;
    width: 30%;
}

.input-type{
    display: flex;
    flex-direction: column;
    width: 30%;
}

.input-price{
    display: flex;
    flex-direction: column;
    width: 15%;
}

.submit-section{
    display: flex;
    flex-direction: column-reverse;
}

@media screen and (max-width: 1000px) {
    .form-content{
        display: block;
    }

    .input-name{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .input-type{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .input-price{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .submit-section{
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}
