.hours-block{
    padding-right: 15px;
    padding-left: 15px;
}

.right-side{
    display: flex;
    flex-direction: row;
}

.text-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button-group{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media screen and (max-width: 1000px) {
    .right-side{
        border: 1px solid rgba(255,255,255, .5);
        padding: 20px;
        display: flex;
        flex-direction: column;
    }
}
