.card{
    border: 1px solid rgba(255,255,255, .5);
    padding: 20px;
    background-color: azure;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
